body {
    padding: 30px;
}

/* titulo principal */
.titlePrincipal {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
/* 
.botaoInicio a {
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: green;
} */